<nav class="navbar navbar-expand-sm navbar-custom">
  <!-- Brand/logo -->
  <a class="navbar-brand" href="#">
    <img
      src="https://emn-test.mendixcloud.com/img/DFM$Image_collection$NewPCBIcon2.png?637758429925359270"
      alt="logo"
      style="width:40px;"
    />
  </a>

  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a
        class="nav-link"
        href="#"
        style="text-decoration:none;color:white;font-size:20px;"
        >PCBflow</a
      >
    </li>
    <li class="navbar-nav ml-auto">
      <a class="nav-link" href="#">Link 2</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link 3</a>
    </li>
  </ul>
  <ul class="navbar-nav ml-auto">
    <li class="nav-item">
      <a
        class="nav-link"
        style="text-decoration:none;color:white;font-size:20px;"
        >Powered by Valor NPI</a
      >
    </li>
    <li class="nav-item">
      <a class="nav-link">Right Link 1</a>
    </li>
  </ul>
</nav>

<div class="sidenav">
  <a href="#about">About</a>
  <a href="#services">Services</a>
  <a href="#clients">Clients</a>
  <a href="#contact">Contact</a>
</div>
