<div class="wrapper">
  <div class="sidebar">
    <div class="sidebar-wrapper">dummy content</div>
  </div>
  <!-- /.sidebar -->

  <div class="main-panel">
    <nav class="navbar nav navbar-fixed">dummy navbar content</nav>

    <p>dummy content</p>
    <p>dummy content</p>
    <p>dummy content</p>
    <p>dummy content</p>
    <p>dummy content</p>
    <p>dummy content</p>
    <p>dummy content</p>
    <p>dummy content</p>
    <p>dummy content</p>
    <p>dummy content</p>
    <p>dummy content</p>
    <p>dummy content</p>
    <p>dummy content</p>
    <p>dummy content</p>
    <p>dummy content</p>
    <p>dummy content</p>
    <p>dummy content</p>
    <p>dummy content</p>
    <p>dummy content</p>
    <p>dummy content</p>
    <p>dummy content</p>
    <p>dummy content</p>
    <p>dummy content</p>
    <p>dummy content</p>
    <p>dummy content</p>
    <p>dummy content</p>
    <p>dummy content</p>
    <p>dummy content</p>
    <p>dummy content</p>
    <p>dummy content</p>
  </div>
</div>
<!-- /.wrapper -->
